div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  color: rgb(23, 69, 106);
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 5px;
}
input:hover {
  background-color: rgb(229, 231, 233);
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(64, 131, 221);
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(20, 89, 182);
}
body {
  background-image: url("https://thumbs.dreamstime.com/b/papel-pintado-abstracto-del-fondo-de-la-falta-definici%C3%B3n-color-en-colores-pastel-ejemplo-vector-muchas-aplicaciones-para-hacer-141729427.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  color: rgb(11, 43, 68);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: white;
}
